---
import type { Plugin } from '../data/plugins';

interface Props {
  plugin: Plugin;
}

const { plugin } = Astro.props;
---

<div class="nested-block">
    <div>
        <h4>{plugin.title}</h4>
        <p>{plugin.desc}</p>
    </div>
    <div>
        <div class="fab-logo"><span>{plugin.tech}</span></div>
        <div class="fab-buttons">
            <a href={plugin.fabUrl} target="_blank" class="btn-action">View on FAB</a>
            <a href={plugin.demoUrl} target="_blank" class="btn-action">Download Demo</a>
        </div>
    </div>
</div>
