---
import type { Plugin } from '../data/plugins';

interface Props {
  plugin: Plugin;
}

const { plugin } = Astro.props;
---

<div class="fab-card">
    <div>
        <div class="fab-title">{plugin.title}</div>
        <div class="fab-desc">{plugin.desc}</div>
    </div>
    <div>
        <div class="fab-logo"><span>{plugin.tech}</span></div>
        <div class="fab-buttons">
            <a href={plugin.fabUrl} target="_blank" class="btn-action btn-dev btn-sm">View on FAB</a>
            <a href={plugin.demoUrl} target="_blank" class="btn-action btn-dev btn-sm">Download Demo</a>
        </div>
    </div>
</div>
